.btn-zoom {
	transform: scale(0.9)!important;
	transition: transform .5s ease-out!important;
}

.btn-zoom.start-zoom {
	transform: scale(1)!important;
	transition: transform .5s ease-out!important;
}
