.has-purple-color {
    color: #332e54 !important;
}
.has-purple-background-color {
    background-color: #332e54;
}

.has-orange-color {
    color: #f7882f !important;
}
.has-orange-background-color {
    background-color: #f7882f;
}

.has-black-color {
    color: #000 !important;
}
.has-black-background-color {
    background-color: #000;
}

.has-gray-color {
    color: #f4f4f4 !important;
}
.has-gray-background-color {
    background-color: #f4f4f4;
}

.has-red-color {
    color: #ef3737 !important;
}
.has-red-background-color {
    background-color: #ef3737;
}

.has-red-light-color {
    color: #fa5d49 !important;
}
.has-red-light-background-color {
    background-color: #fa5d49;
}

.has-red-dark-color {
    color: #aa0511 !important;
}
.has-red-dark-background-color {
    background-color: #aa0511;
}

.asl-product__column_1 figure, .asl-product__column_1 img {
    width: 100%;
}
